<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity=
"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">

	<script src=
"https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity=
"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous">
	</script>
	
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity=
"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous">
	</script>
	
	<script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity=
"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous">
	</script>
</head>

<body>
	<nav class="navbar navbar-expand-lg
				navbar-light bg-success">
		<a class="navbar-brand" href="#">
			<p style="font-size: 30px;">
				THE NOTES TAKER
			</p><hr>
			<h7 >Notes are going to save in server</h7><hr>
			<h7> No option of retrieve password</h7><hr>
			<h7>Password is encrypted</h7>
    

		</a>
	</nav>

	<div class="container my-3">
		{% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no Notes.Create one below!</h4>
    {% else %}
            <hr>
		<h1>Your Notes</h1>
           <hr>
		
		<div id="notes" class=
			"row container-fluid">
                 <table>
        <table>
        <tr>
            <th>Notes</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id1}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
		</div>








		<div class="card">
			<div class="card-body">
				<h5 class="card-title">
					Add a Note
				
				</h5>
<div class="form">
        <form action="/expense" method="POST">
            <input style="background-color:#FFF;min-height:100px;" type="text" name="content" id="content">
            <input type="submit" value="Add Notes">
        </form>
        <div class="container">
  <form class="form-login" method="POST" action="/login">
    <button style='margin-top:150px' class="btn btn-lg btn-primary btn-block" type="submit">LOGOUT</button></a>
  </form></div> 
      <a href="url">https://github.com/swapnilphalke97</a>
    </div>
</div>

	<script src="gfg.js"></script>
</body>

</html>
